body{
    word-break: break-word;
}
.list-group{
    position: sticky; /* Supported in latest version of Chrome, Firefox, Safari, Opera and Edge browsers */
    top: 120px;

    font-size: 12pt;
}

.col-sm-9{
     /* Supported in latest version of Chrome, Firefox, Safari, Opera and Edge browsers */
    margin-top: 100px;
}
h2 {
    padding-top: 70px;
    margin-top: -70px;
}
.coding {
    border-radius: 4px;
    padding: 10px;
    font-family: "Courier New";
}
.inline-code {
    border-radius: 3px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;


    font-family: "Courier New";
}

code {
    color: white;
}

.table-head {
    margin-top: 0px;
    position: sticky;
}

.padd{
    margin-top: 40px;
}

#top3 {
    padding-bottom: 40px;
}

#jumbo-board {
    margin: 20px;
    width:90%;
    box-shadow: 2px 2px 8px lightgrey;
    background-image: url('img/bg.jpg');
    background-size:cover;
    color: lightgrey;
    border-radius: 5px;
    margin-top: 40px;
}

#info-board {
    margin: 20px;
    width:90%;
    box-shadow: 2px 2px 8px lightgrey;
    border-radius: 5px;

}

#info-container {
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: #333;
}

#dip {
    width: 40%;
    height: auto;
}
